.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}


/* header组件的样式 */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 44px;
    line-height: 43px;
    box-sizing: border-box;
    border-bottom: 1px solid #F7F7F7;
    background-color: #fff;
}

header .back {
    position: absolute;
    left: 10px;
    top: 0;
    height: 100%;
    font-size: 17px;
}

header .title {
    line-height: 43px;
    text-align: center;
    font-size: 17px;
    color: #000;
    font-weight: 500;
}

header .filter {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 15px;
    padding: 0 15px;
}


/* searchBtn的样式 */

.searchbtn {
    height: 44px;
    width: 100%;
    padding: 8px 15px;
    border-bottom: 1px solid #F6F6F6;
    background-color: #fff;
}

.searchbtn .content {
    height: 100%;
    width: 100%;
    line-height: 27px;
    text-align: center;
    background-color: #F6F6F6;
    border-radius: 14px;
}

.searchbtn .serach-icon {
    font-size: 16px;
    color: #D0D0D0;
}

.searchbtn span.text {
    margin-left: 5px;
    font-size: 14px;
    color: #8F8F94;
}


/* loading的样式 */

.p-loading {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}


/* indexList样式 */

.indexlist .list-item {
    display: flex;
    display: -webkit-flex;
    padding: 10px 15px;
    border-bottom: 1px solid #F7F7F7;
    background-color: #fff;
}

.indexlist .list-item::last-child {
    border-bottom: none;
}

.indexlist .list-item>img {
    width: 70px;
    height: 70px;
    flex: 0 0 70px;
    -webkit-flex: 0 0 70px;
    vertical-align: top;
}

.indexlist .list-item .content {
    display: flex;
    display: -webkit-flex;
    flex: 1;
    -webkit-flex: 1;
    vertical-align: top;
    margin-left: 15px;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.indexlist .list-item .content h2.title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 24px;
    font-size: 16px;
    color: #000;
}

.indexlist .list-item .desc {
    display: flex;
    display: -webkit-flex;
}

.indexlist .list-item span.abstract {
    flex: 1;
    -webkit-flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    color: #ACACAC;
}

.indexlist .list-item span.time {
    font-size: 14px;
    text-align: right;
    color: #ACACAC;
}

.indexlist .list-item .spanright {
    flex: 1;
    -webkit-flex: 1;
}


/* noResult 的样式 */

.no-result-content {
    text-align: center;
}

.no-result-content p.text {
    font-size: 15px;
    color: #333;
}


/* 动画样式 */

.slide-enter-active,
.slide-leave-active {
    transition: all 0.3s;
}

.slide-enter,
.slide-leave-to {
    transform: translateX(100%)
}

.change-tab-enter-active,
.change-tab-leave-active {
    transition: all 0.3s;
}

.change-tab-enter,
.change-tab-leave-to {
    transform: translateX(100%)
}


/* 页面的样式 */

.main-body-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: #fff;
}

.accessory-apge-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: #fff;
}

.search-btn-wrapper {
    width: 100%;
}

.scroll-wrapper {
    position: absolute;
    top: 44px;
    bottom: 0;
    left: 0;
    right: 0;
}

.loading-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.iframe-wrapper {
    position: fixed;
    top: 44px;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}

.iframe-wrapper .iframe-content {
    width: 100%;
    height: 100%;
}


/* 搜索页面的样式 */

.search-page-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    overflow: hidden;
    background-color: #efeff4;
}

.search-inpt-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 44px;
    background-color: #fff;
    box-sizing: border-box;
    border-bottom: 1px solid #F7F7F7;
}

.search-inpt-wrapper .input-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.search-inpt-wrapper span.cancel-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 62px;
    height: 100%;
    line-height: 43px;
    text-align: center;
    font-size: 16px;
    color: #000;
}

.search-inpt-wrapper .input-content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 8px 62px 8px 13px;
}

.search-inpt-wrapper .input-wrapper input {
    margin: 0;
    padding: 0 30px;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 14px;
    font-size: 14px;
    color: #000;
    background-color: #F6F6F6;
}

.search-inpt-wrapper .input-wrapper input::placeholder {
    color: #8F8F94;
}

.search-inpt-wrapper i.search-icon {
    position: absolute;
    left: 13px;
    top: 8px;
    width: 30px;
    height: 100%;
    text-align: center;
    line-height: 27px;
    font-size: 15px;
    color: #D0D0D0;
}

.search-inpt-wrapper i.delete {
    position: absolute;
    right: 62px;
    top: 8px;
    width: 30px;
    height: 100%;
    text-align: center;
    line-height: 27px;
    font-size: 15px;
    color: #D0D0D0;
}

.noresultwrapper {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
}


/* 附件列表的样式 */

.accessoryList .accessory-item {
    display: flex;
    display: -webkit-flex;
    position: relative;
    padding: 10px 0 10px 15px;
    border-bottom: 1px solid #F7F7F7;
}

.accessoryList .accessory-item::last-child {
    border-bottom: none;
}

.accessory-item .icon-wrapper {
    margin-right: 14px;
    width: 48px;
    height: 48px;
    background-image: url(../img/doc@2x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 48px 48px;
}

.accessory-item .content {
    flex: 1;
    display: flex;
    display: 0-webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-between;
    -webkit-justify: space-between;
    line-height: 24px;
}

.accessory-item .content .title {
    font-size: 14px;
    color: #4A4A4A;
}

.accessory-item .content .size {
    font-size: 14px;
    color: #ACACAC;
}

.accessory-item .icon {
    width: 40px;
    line-height: 48px;
    text-align: center;
    color: #CCC;
}

.accessory-item .type-file {
    background-image: url(../img/file@2x.png);
}

.accessory-item .type-doc {
    background-image: url(../img/doc@2x.png);
}

.accessory-item .type-txt {
    background-image: url(../img/txt@2x.png);
}

.accessory-item .type-xls {
    background-image: url(../img/xls@2x.png);
}

.accessory-item .type-pdf {
    background-image: url(../img/pdf@2x.png);
}

.accessory-item .type-ppt {
    background-image: url(../img/ppt@2x.png);
}

.accessory-item .type-jpg {
    background-image: url(../img/jpg@2x.png);
}

.accessory-item .type-png {
    background-image: url(../img/png@2x.png);
}

.accessory-item .type-other {
    background-image: url(../img/other@2x.png);
}

.null-file-wrapper {
    position: fixed;
    top: 44px;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 100px;
}

.null-file-wrapper .content {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-image: url(../img/null@2x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px 200px;
}

.no-data-img {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    background-image: url(../img/nodata@2x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px;
}

@media (-webkit-min-device-pixel-ratio: 3),
(min-device-pixel-ratio: 3) {
    .no-data-img {
        background-image: url(../img/nodata@3x.png);
    }
    .null-file-wrapper .content {
        background-image: url(../img/null@3x.png);
    }
    .accessory-item .type-file {
        background-image: url(../img/file@3x.png);
    }
    .accessory-item .type-doc {
        background-image: url(../img/doc@3x.png);
    }
    .accessory-item .type-txt {
        background-image: url(../img/txt@3x.png);
    }
    .accessory-item .type-xls {
        background-image: url(../img/xls@3x.png);
    }
    .accessory-item .type-pdf {
        background-image: url(../img/pdf@3x.png);
    }
    .accessory-item .type-ppt {
        background-image: url(../img/ppt@3x.png);
    }
    .accessory-item .type-jpg {
        background-image: url(../img/jpg@3x.png);
    }
    .accessory-item .type-png {
        background-image: url(../img/png@3x.png);
    }
    .accessory-item .type-other {
        background-image: url(../img/other@3x.png);
    }
}

.search-loading-wrapepr {
    position: fixed;
    top: 44px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 12;
}